body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #eaf6f6;
  background-color: #121212;
  text-align: center;
}


h1 {
  color: #66bfbf;
  font-size: 4rem;
  margin-top: 0;
}

h2 {
  margin-top: 1rem;
  color: #66bfbf;
  font-weight: bold;
  font-size: 2rem;
}

.top-container {
  position: relative;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #6f6f6f;
}

/* Container styling */
.background-image-container {
  position: relative;
  width: 100%;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Image styling */
.background-image-container img {
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom; 
  opacity: 0.84; 
  z-index: 0; 
}


/* Text styling */
.background-image-container h1,
.background-image-container h2 {
  z-index: 1; 
  margin: 0;
  top: -180px;
  color: white; 

  text-shadow: 1px 1px 2px black;
}

/* Responsive text size adjustments */
@media (max-width: 991px) {
  .background-image-container h1 {
    font-size: 3rem;
    top: -150px; 
  }

  .background-image-container h2 {
    font-size: 1.5rem;
    top: -150px; 
  }
}
h1, h2 {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-bottom: 20px;
}

h3 {
  color: #11999e;
}

p {
  line-height: 1.6;
  margin: 0 10%;
}

a {
  color: #66bfbf;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #eaf6f6;
}

.navbar {
  padding: 0.5rem 2rem;
  background-color: #1f1f1f !important;
}

/* Centering the navbar items a bit more */
.navbar-nav {
  margin: 0 auto;
}

.nav-item {
  margin: 0 10px; 
}

.nav-link, .navbar-brand {
  color: #eaf6f6 !important;
}

.nav-link:hover, .navbar-brand:hover {
  color: #66bfbf !important;
}

.navbar-toggler {
  border-color: #66bfbf;
}

.top-container {
  padding-top: 100px;
}

.profile {
  width: 80%;
  margin: 50px auto;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill1-img {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.skill2-img {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.contact-me {
  width: 80%;
  margin: 4rem auto;
  line-height: 1.6;
}

.btn_contact {
  background: #11999e;
  border: none;
  border-radius: 28px;
  color: #ffffff;
  font-size: 1rem;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
}

.btn_contact:hover {
  background: #66bfbf;
}

.bottom-container {
  padding: 1rem;
  background-color: #1f1f1f;
}

.footer-link {
  color: #66bfbf;
  margin: 0 10px;
}

.footer-link:hover {
  color: #eaf6f6;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.dropdown-menu {
  background-color: #1f1f1f;
}

.dropdown-menu a {
  color: #eaf6f6 !important;
}

.dropdown-menu a:hover {
  background-color: #121212;
  color: #66bfbf !important;
}

hr {
  width: 10%;
  border-top: 2px solid #66bfbf;
  margin: 40px auto;
}

.overlay-images {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; 
  margin: 20px 0; 
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 45%; 
}

.project-container h4 {
  margin-bottom: 10px; 
  text-align: center;
}

.overlay-images img {
  width: 450px; 
  height: 250px;
  border-radius: 8px; 
  margin-left: 60px;
  margin-right: 60px;
}

.project-container a:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px) {
  .profile, .skill-row, .contact-me {
    width: 90%;
  }
  
  .skill-row {
    flex-direction: column;
    text-align: center;
  }
  
  .skill-row img {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
